@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Open+Sans+Condensed:300');

/* components design */
@import url("framework components/avatar.css");
@import url("framework components/button.css");
@import url("framework components/dropdown.css");
@import url("framework components/card.css");
@import url("framework components/badge.css");
@import url("framework components/banner.css");
@import url("framework components/tabs.css");
@import url("framework components/list.css"); */



body {
    font-family: "Open Sans Condensed", "sans-serif";
    overflow: auto;
}
h1,h2,h3 {
    font-family: 'Montserrat Alternates', "sans-serif";
}

body, div {padding: 1.5rem;
}

section {
    margin:20px;
    padding:20px;
}

/* navbar */
.navbarke {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top:0;
    border-radius:5px;
    width:100%;
    position: relative;
}

li {
    float: left;
    border-right-style:inset;
    border-radius:0px 5px 5px 0px;
    border-color:green;    
  }

  .active {
	background-color: #000080;
}
  

