@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Open+Sans+Condensed:300');

/* components design */
@import url("framework components/avatar.css");
@import url("framework components/button.css");
@import url("framework components/dropdown.css");
@import url("framework components/card.css");
@import url("framework components/badge.css");
@import url("framework components/banner.css");
@import url("framework components/tabs.css");
@import url("framework components/list.css"); */



body {
    font-family: "Open Sans Condensed", "sans-serif";
    overflow: auto;
}
h1,h2,h3 {
    font-family: 'Montserrat Alternates', "sans-serif";
}

body, div {padding: 1.5rem;
}
