@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Open+Sans+Condensed:300');

/* components design */
@import url("framework components/avatar.css");
@import url("framework components/button.css");
@import url("framework components/dropdown.css");
@import url("framework components/card.css");
@import url("framework components/badge.css");
@import url("framework components/banner.css");
@import url("framework components/tabs.css");
@import url("framework components/list.css"); */



body {
    font-family: "Open Sans Condensed", "sans-serif";
    overflow: auto;
}
h1,h2,h3 {
    font-family: 'Montserrat Alternates', "sans-serif";
    padding: 24px;
}
h1{
    text-align: center;
    text-decoration: underline;
}

body, div {padding: 1.5rem;
}

section {
    margin:20px;
    padding:20px;
}

/* navbar */
.navbarke {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
    top:0;
    border-radius:5px;
    width:100%;
    position: fixed;
    z-index: 1000;
}
.navbarke a {
    color:white;
}


li {
    float: left;
    border-right-style:inset;
    border-radius:0px 5px 5px 0px;
    border-color:#807100;    
  }
 
  .navbarke a:hover{
      color:red;
  }

 .navbarke a:focus {
      color: green;
  }


 
  

