 .btn-black {
    background-color: black !important;
    color: white !important;
    font-style: italic !important;
    border:1px solid transparent;
    border-radius:20px;
} 
.dropdown-item {
    color: pink;
    background-color: black;
    font-style: inherit;

}

.dropdown-menu {
    font-style: italic;
    border-radius: 20px;
    background-color:black;
}

.dropdown-item {
    width:90% !important;
    text-align: center;
}
/* dropdown with avatar */
.dropdown-profile .dropdown-menu {
    font-style: bold;
    border-radius: 20px;
    background-color:white;
}

.dropdown-profile .dropdown-item {
    color: rgb(43, 131, 65);
    background-color: white !important;
    font-style: inherit;
}

